/**
 * Use the same color from RingSignInSPA for now
 * When the common package is ready will import style from there
 */
:root {
  --NEUTRAL_50: #fafbfc;
  --NEUTRAL_900: #121212;
  --NEUTRAL_800: #282B2F;
  --NEUTRAL_500: #424242;
  --NEUTRAL_300: #6E6E6E;
  --NEUTRAL_200: #BDBDBD;
  --NEUTRAL_100: #ECECEC;
  --PRIMARY_800: #0A405A;
  --PRIMARY_700: #10628A;
  --PRIMARY_600: #1476AD;
  --PRIMARY_500: #1998D5;
  --PRIMARY_400: #37B6F3;
  --PRIMARY_300: #69BCE3;
  --PRIMARY_200: #AFDBF1;
  --PRIMARY_100: #EFF8FC;
  --SECONDARY_800: #602500;
  --SECONDARY_700: #9C4308;
  --SECONDARY_600: #C74E00;
  --SECONDARY_500: #F1670D;
  --SECONDARY_400: #FF852B;
  --SECONDARY_300: #F69C61;
  --SECONDARY_200: #FACAAB;
  --SECONDARY_100: #FDEFE6;
  --POSITIVE_800: #0B4A0C;
  --POSITIVE_700: #22580E;
  --POSITIVE_600: #157217;
  --POSITIVE_500: #178019;
  --POSITIVE_400: #5EBF60;
  --POSITIVE_300: #83C284;
  --POSITIVE_200: #BCDEBD;
  --POSITIVE_100: #F0F8F0;
  --NEGATIVE_800: #780500;
  --NEGATIVE_700: #96231D;
  --NEGATIVE_600: #B8251D;
  --NEGATIVE_500: #D4231A;
  --NEGATIVE_400: #FF554B;
  --NEGATIVE_300: #EF7D76;
  --NEGATIVE_200: #F7B9B6;
  --NEGATIVE_100: #FCEFEF;
  --CAUTION_800: #866E04;
  --CAUTION_700: #A48C22;
  --CAUTION_600: #CBAC20;
  --CAUTION_500: #FDD835;
  --CAUTION_400: #FFF653;
  --CAUTION_300: #FDE57B;
  --CAUTION_200: #FFF2B9;
  --CAUTION_100: #FEFBEA;
  --AMAZON_ORANGE_700: #A66300;
  --AMAZON_ORANGE_500: #FF9900;
  --AMAZON_ORANGE_200: #FFDBA6;
  --TERTIARY_900: #363E47;
  --TERTIARY_800: #4E5761;
  --TERTIARY_700: #81919F;
  --TERTIARY_500: #DEE5EC;
  --TERTIARY_300: #F6F8FA;
  --WHITE_150: #FFFFFF26;
  --WHITE_200: #FFFFFF59;
  --WHITE_900: #FFFFFF;
  --BLACK: #000000;
  --BLACK_300: #000000A6;
  --BLACK_700: #000000CC;
  --TRANSPARENT: #FFFFFF00;
}

:root {
  --backgroundDeep: #fafbfc;
  --surfaceBase: #FFFFFF;
  --surfaceInverted: #424242;
  --contentBase: #424242;
  --contentBackup: #6E6E6E;
  --contentDisabled: #BDBDBD;
  --contentMuted: #ECECEC;
  --buttonContentBase: #FFFFFF;
  --contentInverted: #FFFFFF;
  --primaryPress: #10628A;
  --primaryHover: #1476AD;
  --primaryBase: #1998D5;
  --primaryDisabled: #AFDBF1;
  --primaryMuted: #EFF8FC;
  --primaryTextLinkPress: #0A405A;
  --primaryTextLinkHover: #10628A;
  --primaryTextLinkBase: #1476AD;
  --secondaryPress: #9C4308;
  --secondaryHover: #C74E00;
  --secondaryBase: #F1670D;
  --secondaryDisabled: #FACAAB;
  --secondaryMuted: #FDEFE6;
  --positivePress: #22580E;
  --positiveHover: #157217;
  --positiveBase: #178019;
  --positiveDisabled: #BCDEBD;
  --positiveMuted: #F0F8F0;
  --negativePress: #96231D;
  --negativeHover: #B8251D;
  --negativeBase: #D4231A;
  --negativeDisabled: #F7B9B6;
  --negativeMuted: #FCEFEF;
  --cautionPress: #A48C22;
  --cautionHover: #CBAC20;
  --cautionBase: #FDD835;
  --cautionDisabled: #FFF2B9;
  --cautionMuted: #FEFBEA;
  --amazonPress: #A66300;
  --amazonBase: #FF9900;
  --amazonDisabled: #FFDBA6;
  --tertiaryBorderDeep: #81919F;
  --tertiaryBorder: #DEE5EC;
  --tertiaryBackground: #F6F8FA;
  --depthBorderMuted: #FFFFFF00;
  --depthBorderBase: #FFFFFF00;
  --scrimBase: #000000A6;
  --scrimStrong: #000000CC;
  --backgroundConstant: #424242;
  --contentConstant: #FFFFFF;
  --contentConstantDisabled: #6E6E6E;
  --ctaConstantBase: #FFFFFF;
  --ctaConstantHover: #DEE5EC;
  --ctaConstantDisabled: #BDBDBD;
  --colorFilter-backgroundDeep: url(#colorFilter-backgroundDeep-light);
  --colorFilter-surfaceBase: url(#colorFilter-surfaceBase-light);
  --colorFilter-surfaceInverted: url(#colorFilter-surfaceInverted-light);
  --colorFilter-contentBase: url(#colorFilter-contentBase-light);
  --colorFilter-contentBackup: url(#colorFilter-contentBackup-light);
  --colorFilter-contentDisabled: url(#colorFilter-contentDisabled-light);
  --colorFilter-contentMuted: url(#colorFilter-contentMuted-light);
  --colorFilter-buttonContentBase: url(#colorFilter-buttonContentBase-light);
  --colorFilter-contentInverted: url(#colorFilter-contentInverted-light);
  --colorFilter-primaryPress: url(#colorFilter-primaryPress-light);
  --colorFilter-primaryHover: url(#colorFilter-primaryHover-light);
  --colorFilter-primaryBase: url(#colorFilter-primaryBase-light);
  --colorFilter-primaryDisabled: url(#colorFilter-primaryDisabled-light);
  --colorFilter-primaryMuted: url(#colorFilter-primaryMuted-light);
  --colorFilter-primaryTextLinkPress: url(#colorFilter-primaryTextLinkPress-light);
  --colorFilter-primaryTextLinkHover: url(#colorFilter-primaryTextLinkHover-light);
  --colorFilter-primaryTextLinkBase: url(#colorFilter-primaryTextLinkBase-light);
  --colorFilter-secondaryPress: url(#colorFilter-secondaryPress-light);
  --colorFilter-secondaryHover: url(#colorFilter-secondaryHover-light);
  --colorFilter-secondaryBase: url(#colorFilter-secondaryBase-light);
  --colorFilter-secondaryDisabled: url(#colorFilter-secondaryDisabled-light);
  --colorFilter-secondaryMuted: url(#colorFilter-secondaryMuted-light);
  --colorFilter-positivePress: url(#colorFilter-positivePress-light);
  --colorFilter-positiveHover: url(#colorFilter-positiveHover-light);
  --colorFilter-positiveBase: url(#colorFilter-positiveBase-light);
  --colorFilter-positiveDisabled: url(#colorFilter-positiveDisabled-light);
  --colorFilter-positiveMuted: url(#colorFilter-positiveMuted-light);
  --colorFilter-negativePress: url(#colorFilter-negativePress-light);
  --colorFilter-negativeHover: url(#colorFilter-negativeHover-light);
  --colorFilter-negativeBase: url(#colorFilter-negativeBase-light);
  --colorFilter-negativeDisabled: url(#colorFilter-negativeDisabled-light);
  --colorFilter-negativeMuted: url(#colorFilter-negativeMuted-light);
  --colorFilter-cautionPress: url(#colorFilter-cautionPress-light);
  --colorFilter-cautionHover: url(#colorFilter-cautionHover-light);
  --colorFilter-cautionBase: url(#colorFilter-cautionBase-light);
  --colorFilter-cautionDisabled: url(#colorFilter-cautionDisabled-light);
  --colorFilter-cautionMuted: url(#colorFilter-cautionMuted-light);
  --colorFilter-amazonPress: url(#colorFilter-amazonPress-light);
  --colorFilter-amazonBase: url(#colorFilter-amazonBase-light);
  --colorFilter-amazonDisabled: url(#colorFilter-amazonDisabled-light);
  --colorFilter-tertiaryBorderDeep: url(#colorFilter-tertiaryBorderDeep-light);
  --colorFilter-tertiaryBorder: url(#colorFilter-tertiaryBorder-light);
  --colorFilter-tertiaryBackground: url(#colorFilter-tertiaryBackground-light);
  --colorFilter-depthBorderMuted: url(#colorFilter-depthBorderMuted-light);
  --colorFilter-depthBorderBase: url(#colorFilter-depthBorderBase-light);
  --colorFilter-scrimBase: url(#colorFilter-scrimBase-light);
  --colorFilter-scrimStrong: url(#colorFilter-scrimStrong-light);
  --colorFilter-backgroundConstant: url(#colorFilter-backgroundConstant-light);
  --colorFilter-contentConstant: url(#colorFilter-contentConstant-light);
  --colorFilter-contentConstantDisabled: url(#colorFilter-contentConstantDisabled-light);
  --colorFilter-ctaConstantBase: url(#colorFilter-ctaConstantBase-light);
  --colorFilter-ctaConstantHover: url(#colorFilter-ctaConstantHover-light);
  --colorFilter-ctaConstantDisabled: url(#colorFilter-ctaConstantDisabled-light);
  --ringLogo-letters: #424242;
  --ringLogo-iDot: #1998D5;
  --amazonLogo-letters: #221f1f;
  --amazonLogo-smile: #ff9900;
  --loading-1: #1998D5;
  --loading-2: #F6F8FA;
}

