    :root {
        --HEADING_LARGE_MEDIUM_FONT_SIZE: 1.75rem;
        --HEADING_LARGE_MEDIUM_FONT_WEIGHT: 700;
        --HEADING_LARGE_MEDIUM_LINE_HEIGHT: 2.25rem;

        --HEADING_NORMAL_BOLD_FONT_SIZE: 1.5rem;
        --HEADING_NORMAL_BOLD_FONT_WEIGHT: 700;
        --HEADING_NORMAL_BOLD_LINE_HEIGHT: 2rem;

        --HEADING_SMALL_BOLD_FONT_SIZE: 1.25rem;
        --HEADING_SMALL_BOLD_FONT_WEIGHT: 700;
        --HEADING_SMALL_BOLD_LINE_HEIGHT: 1.75rem;

        --HEADING_EXTRA_SMALL_BOLD_FONT_SIZE: 1.125rem;
        --HEADING_EXTRA_SMALL_BOLD_FONT_WEIGHT: 700;
        --HEADING_EXTRA_SMALL_BOLD_LINE_HEIGHT: 1.75rem;

        --HEADING_LARGE_REGULAR_FONT_SIZE: 1.75rem;
        --HEADING_LARGE_REGULAR_FONT_WEIGHT: 500;
        --HEADING_LARGE_REGULAR_LINE_HEIGHT: 2rem;

        --HEADING_NORMAL_REGULAR_FONT_SIZE: 1.5rem;
        --HEADING_NORMAL_REGULAR_FONT_WEIGHT: 500;
        --HEADING_NORMAL_REGULAR_LINE_HEIGHT: 2rem;

        --HEADING_SMALL_REGULAR_FONT_SIZE: 1.25rem;
        --HEADING_SMALL_REGULAR_FONT_WEIGHT: 500;
        --HEADING_SMALL_REGULAR_LINE_HEIGHT: 1.75rem;

        --BODY_LARGE_BOLD_FONT_SIZE: 1rem;
        --BODY_LARGE_BOLD_FONT_WEIGHT: 700;
        --BODY_LARGE_BOLD_LINE_HEIGHT: 1.5rem;

        --BODY_NORMAL_BOLD_FONT_SIZE: .875rem;
        --BODY_NORMAL_BOLD_FONT_WEIGHT: 700;
        --BODY_NORMAL_BOLD_LINE_HEIGHT: 1.5rem;

        --BODY_SMALL_BOLD_FONT_SIZE: .75rem;
        --BODY_SMALL_BOLD_FONT_WEIGHT: 700;
        --BODY_SMALL_BOLD_LINE_HEIGHT: 1.125rem;

        --BODY_LARGE_REGULAR_FONT_SIZE: 1rem;
        --BODY_LARGE_REGULAR_FONT_WEIGHT: 500;
        --BODY_LARGE_REGULAR_LINE_HEIGHT: 1.5rem;

        --BODY_NORMAL_REGULAR_FONT_SIZE: .875rem;
        --BODY_NORMAL_REGULAR_FONT_WEIGHT: 500;
        --BODY_NORMAL_REGULAR_LINE_HEIGHT: 1.5rem;

        --BODY_SMALL_REGULAR_FONT_SIZE: .75rem;
        --BODY_SMALL_REGULAR_FONT_WEIGHT: 500;
        --BODY_SMALL_REGULAR_LINE_HEIGHT: 1.125rem;

        --BODY_LARGE_LIGHT_FONT_SIZE: 1rem;
        --BODY_LARGE_LIGHT_FONT_WEIGHT: 300;
        --BODY_LARGE_LIGHT_LINE_HEIGHT: 1.5rem;

        --BODY_NORMAL_LIGHT_FONT_SIZE: .875rem;
        --BODY_NORMAL_LIGHT_FONT_WEIGHT: 300;
        --BODY_NORMAL_LIGHT_LINE_HEIGHT: 1.5rem;

        --BODY_SMALL_LIGHT_FONT_SIZE: .75rem;
        --BODY_SMALL_LIGHT_FONT_WEIGHT: 300;
        --BODY_SMALL_LIGHT_LINE_HEIGHT: 1.125rem;

        --FOOTNOTE_NORMAL_BOLD_FONT_SIZE: .625rem;
        --FOOTNOTE_NORMAL_BOLD_FONT_WEIGHT: 700;
        --FOOTNOTE_NORMAL_BOLD_LINE_HEIGHT: .875rem;

        --FOOTNOTE_NORMAL_LIGHT_FONT_SIZE: .625rem;
        --FOOTNOTE_NORMAL_LIGHT_FONT_WEIGHT: 300;
        --FOOTNOTE_NORMAL_LIGHT_LINE_HEIGHT: .875rem;

        --FOOTNOTE_NORMAL_REGULAR_FONT_SIZE: .625rem;
        --FOOTNOTE_NORMAL_REGULAR_FONT_WEIGHT: 500;
        --FOOTNOTE_NORMAL_REGULAR_LINE_HEIGHT: .875rem;

        --CAPTION_NORMAL_FONT_SIZE: .875rem;
        --CAPTION_NORMAL_FONT_WEIGHT: 500;
        --CAPTION_NORMAL_LINE_HEIGHT: 1.25rem;

        --CAPTION_SMALL_BOLD_FONT_SIZE: .625rem;
        --CAPTION_SMALL_BOLD_FONT_WEIGHT: 700;
        --CAPTION_SMALL_BOLD_LETTER_SPACING: .0781rem;
        --CAPTION_SMALL_BOLD_LINE_HEIGHT: .875rem;
        --CAPTION_SMALL_BOLD_TEXT_TRANSFORM: uppercase;

        --CAPTION_SMALL_REGULAR_FONT_SIZE: .625rem;
        --CAPTION_SMALL_REGULAR_FONT_WEIGHT: 500;
        --CAPTION_SMALL_REGULAR_LETTER_SPACING: .0781rem;
        --CAPTION_SMALL_REGULAR_LINE_HEIGHT: .875rem;
        --CAPTION_SMALL_REGULAR_TEXT_TRANSFORM: uppercase;
    }